/* variables */
:root {
    --linkcolors: rgb(51, 56, 5);
}


/*Selects header element  */
header {
    display: flex;
    background-color: rgb(83, 80, 80);
    justify-content: space-between;
    align-items: center;
    padding: 1%;
}

header h2 {
    background-color: rgb(117, 136, 136);
    max-width: max-content;
    padding: 0px;
    margin: 2% 0;
}

/* Selects seperator class */
#seperator {
    display: flex;
    background-color: rgb(107, 62, 32);
    height: 50px;
    text-align: end;
}

/* Selects subtitles id */
.subtitles {
    text-align: center;
}

/* Selects nav elements */
nav a {
    background-color: unset;
    color: var(--navlink-color);
    font-weight: bold;
    text-decoration: none;
}

nav ul {
    display: flex;
    justify-content: space-between;
    min-width: 300px;

}

nav ul li {
    text-decoration: none;
    font-size: 25px;
    margin-left: 30px;
}

nav ul li a {
    color: aliceblue;
}


/* Selects span elements */
span div {
    background-color: aquamarine;
    text-align: right;

}

/* Selects main elements */
main {
    display: flex;
    flex: 1 1 0;
    max-width: 96%;
    margin: 2% auto;
}

main div {
    height: 150px;
}

/* Selects aside elements */
aside {
    flex: 30%;
    padding: 20px;
    flex-wrap: wrap;
    text-align: right;
}

/* Selects section elements */
section {
    flex: 70%;
    background-color: #fff;
    padding: 20px;
}

section div {
    margin-bottom: 2px;
    border: yellowgreen;
    border-style: groove;
}

/* Selects footer elements */
footer {
    display: flex;
    flex: 1 1 0;
    max-width: 96%;
    margin: 2% auto;
}

footer ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}



@media screen and (max-width: 768px) {

    header {
        flex-direction: column;
    }
}