header {

    background-color: blue;
}


.flexbox {
    background-color: aqua;
    display: flex;
    flex-direction: row;


}

ul li {
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}