/* variables */
:root {
    --linkcolors: rgb(51, 56, 5);
}


/*  */
header {
    display: flex;
    background-color: rgb(83, 80, 80);
    justify-content: space-between;
    align-items: center;
    padding: 1%;
}

header h2 {
    background-color: rgb(117, 136, 136);
    max-width: max-content;
    padding: 0px;
    margin: 2% 0;
}

/*  */
#seperator {
    display: flex;
    background-color: rgb(107, 62, 32);
    height: 50px;
    text-align: end;
}

.subtitles {
    text-align: center;
}

nav a {
    background-color: unset;
    color: var(--navlink-color);
    font-weight: bold;
    text-decoration: none;
}

nav ul {
    display: flex;
    justify-content: space-between;
    min-width: 300px;

}



nav ul li {
    text-decoration: none;
    font-size: 25px;
    margin-left: 30px;
}

nav ul li a {
    color: aliceblue;
}



span div {
    background-color: aquamarine;
    /* text-align: right; */
    te
}


main {
    display: flex;
    flex: 1 1 0;
    max-width: 96%;
    margin: 2% auto;
}

main div {
    height: 150px;
}

aside {
    flex: 30%;
    padding: 20px;
    flex-wrap: wrap;
    text-align: right;
}

section {
    flex: 70%;
    background-color: #fff;
    padding: 20px;
}

section div {
    margin-bottom: 2px;
    border: yellowgreen;
    border-style: groove;
}

footer {
    display: flex;
    flex: 1 1 0;
    max-width: 96%;
    margin: 2% auto;
}

footer ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}